[submodule "DWGSIM"]
	path = DWGSIM
	url = https://github.com/nh13/DWGSIM
[submodule "LAVEnder"]
	path = LAVEnder
	url = https://github.com/karel-brinda/LAVEnder
[submodule "bcftools"]
	path = bcftools
	url = https://github.com/jherrero/bcftools
[submodule "htslib"]
	path = htslib
	url = http://github.com/samtools/htslib
[submodule "samtools"]
	path = samtools
	url = http://github.com/samtools/samtools
[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa
[submodule "src_ext/htslib"]
	path = src_ext/htslib
	url = http://github.com/samtools/htslib
[submodule "src_ext/bcftools"]
	path = src_ext/bcftools
	url = http://github.com/samtools/bcftools
[submodule "src_ext/bwa"]
	path = src_ext/bwa
	url = http://github.com/lh3/bwa
[submodule "src_ext/LAVEnder"]
	path = src_ext/LAVEnder
	url = ssh://git@github.com/karel-brinda/LAVEnder
[submodule "src_ext/dwgsim"]
	path = src_ext/dwgsim
	url = http://github.com/nh13/DWGSIM
[submodule "src_ext/samtools"]
	path = src_ext/samtools
	url = http://github.com/samtools/samtools
