[submodule "DWGSIM"]
	path = DWGSIM
	url = https://github.com/nh13/DWGSIM
[submodule "LAVEnder"]
	path = LAVEnder
	url = https://github.com/karel-brinda/LAVEnder
[submodule "bcftools"]
	path = bcftools
	url = https://github.com/jherrero/bcftools
[submodule "htslib"]
	path = htslib
	url = http://github.com/samtools/htslib
[submodule "samtools"]
	path = samtools
	url = http://github.com/samtools/samtools
[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa
